.DS_Store

# Xcode
# this ignores dummy workspace files in xcodeproj dir
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj

# this ignores all files in workspace dir except the needed one
**/*.xcworkspace/*
!**/*.xcworkspace/contents.xcworkspacedata

# fastlane
**/fastlane/*
!**/fastlane/Fastfile